main {
    font-family: roboto, serif;
    background-color: #EDEDED;
}

.aprendizaje {
    display: flex;
    justify-content: center;
    gap: 80px;

    padding: 30px 0;
}

.aprendizaje-text {
    width: 280px;
    align-self: center;

    text-align: start;
    color: #7B303E;
    font-weight: bold;
    font-size: 26px;
}

.aprendizaje-cards {
    display: flex;
    flex-direction: column;
}

.card-first {
    display: flex;
}

.card-second {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: white;

    border-radius: 3px;
    width: 200px;
    height: 180px;
    margin: 5px;

    font-weight: 500;
    font-size: 18px;
}

.card p {
    width: 100px;
    text-align: center;
}

.programa-bilingue {
    background-color: #A63346;
}

.valores-cristianos {
    background-color: #384969;
}

.innovacion {
    background-color: #8DA7D2;
}

.educacion-ambiental {
    background-color: #CFAD4E;
}

/* Colegios */
.colegios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: #0B233F;
    padding: 20px;
}

.colegios-imagenes {
    display: flex;
    gap: 20px;
}

.subvencionado-colegio {
    color: whitesmoke;
    font-size: 10px;

    margin-top: 2px;
}

.titulo-colegio {
    width: 80px;

    color: white;
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
}

.titulo-colegio-valle {
    color: #7B303E;
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
}

.colegio {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 160px;
    height: 150px;

    background-color: white;
    border: 2px solid white;
}

.colegio img {
    margin-bottom: 10px;
}

.colegios-texto {
    width: 100px;

    color: white;

    font-size: 23px;
    font-weight: bolder;
}

.colegio-san-pedro {
    background-color: #7196BD;
}

.colegio-lomas {
    background-color: #7B303E;
}

.colegio-valle {
    background-color: #CBC298;
}

.cifras {
    display: flex;
    justify-content: center;
    gap: 2.5rem;

    padding: 3rem;
}

.cifras-text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 50%;
}

.cifras-text h2 {
    color: #7B303E;
    font-size: 43px;
}

.cifras-text p {
    font-size: 18px;
    color: #363636;
}

.cifras-text-imagenes {
    display: flex;
    gap: 1rem;

    margin-top: 4rem;
}

.cifras-statistics-title {
    color: white;
    background-color: #7B303E;

    padding: 1rem;
}

.cifras-singular-statistics {
    display: flex;
    flex-direction: column;

    background-color: lightgray;
    margin-top: 0.6rem;
}

.cifras-statistics-text-uno {
    display: flex;
    flex-direction: column;

    padding: 18px;
}

.text-uno-uno {
    color: #363636;
}

.text-uno-dos {
    color: #7B303E;
    font-size: 40px;
    font-weight: bolder;
}

.text-uno-tres {
    font-size: 22px;
    color: black;
}

.cifras-statistics-text-dos {
    display: flex;
    flex-direction: column;
    gap: 6px;

    padding: 18px;
}

.text-dos-uno {
    color: #0B233F;
    font-size: 40px;
    font-weight: bolder;
}

.text-dos-dos {
    width: 100px;
    color: #363636;
    font-size: 20px;
}
